<div class="container">
  <p><%= link_to "Back", dashboard_path %></p>

  <p>Edit <%= @dog.name %></p>

  <%= simple_form_for @dog do |f| %>
    <%= f.input :name %>
    <%= f.input :breed %>
    <%= f.input :age %>
    <%= f.input :weight %>
    <%= f.input :birthday %>
    <%= f.button :submit, class: "btn" %>
  <% end %>

</div>
